.cms_form_item {
    margin-bottom: 25px;
}

FIELDSET.cms_form_fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

LEGEND.cms_form_legend {
    font-size: inherit;
    margin-bottom: inherit;
	white-space: normal;
    display: table;
    width: 100%;
}

.cms_form_item_sidebyside {
    width: 140px;
    float: left;
    /*margin-bottom: 25px;*/
}

.cms_form_clear {
    clear: both;
}

.cms_form_label {
    margin-bottom: 2px;
}

.cms_form_textinput {
    width: 400px;
}

.cms_form_textarea {
    width: 400px;
    height: 100px;
}

.cms_form_dropdown {
    width: 400px;
}

.cms_form_ssn1 {
    width: 50px;
}

.cms_form_ssn2 {
    width: 40px;
}

.cms_form_ssn3 {
    width: 70px;
}

.cms_form_cc_exp {
    width: 50px;
}

.cms_form_cc_cvv {
    width: 50px;
}

.cms_form_required_block {
    color: silver;
    font-style: italic;
    border-bottom: 1px solid silver;
}

.cms_form_header {
    font-size: 18px;
    font-weight: bold;
}

.cms_form_collapsible {
    margin-bottom: 10px;
    clear: both;
}

.cms_form_collapsible_header A {
    display: block;
    background-color: #dddddd;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    color: Black;
}

.cms_form_collapsible_header A:before {
    content: '+ ';
}

.cms_form_collapsible_header.open A:before {
    content: '- ';
}

.cms_form_submitted {
    color: green;
    font-weight: bold;
}

.cms_form_error, .cms_form_errors {
    color: red;
    font-weight: bold;
}

.cms_form_wrapper .required:before,
#existing_elements_column .required:before {
    content: '* ';
}

.cms_form_item_backend .required:after {
    content: '';
}

